[submodule "2 - A Virtual Being/modules/glew"]
	path = 2 - A Virtual Being/modules/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "2 - A Virtual Being/modules/glfw"]
	path = 2 - A Virtual Being/modules/glfw
	url = https://github.com/glfw/glfw
[submodule "2 - A Virtual Being/modules/emsdk"]
	path = 2 - A Virtual Being/modules/emsdk
	url = https://github.com/emscripten-core/emsdk
